body{
  		color: black;
  		background-color: white;
      font-family: Alpha crisp;
    }
  	h1{
  		font-family:Dishonorable Mention;
  		font-size:72px;
  	}
    p{
      font-size:14px;
  	}
   div#info1{
    /*for new image when every time refresh use this link*/
    /*background-image: url(" https://source.unsplash.com/1600x900/?Restaurant menu, Mini bar");*/
    background-image: url("bg/bg01.jpg");
  }
   div#info2{
   
    /*for new image when every time refresh use this link*/
    /*background-image: url("https://source.unsplash.com/1600x900/?food,chef,dish,hotel");*/
    background-image: url("bg/bg02.jpg");
  }
   div#info3{
    /*for new image when every time refresh use this link*/
    /*background-image: url("https://source.unsplash.com/1600x900/?hotel,delicious,,dish,");*/
    background-image: url("bg/bg03.jpg");
  }
  div#info3{
    /*for new image when every time refresh use this link*/
    /*background-image: url("https://source.unsplash.com/1600x900/?hotel,delicious,,dish,");*/
    background-image: url("bg/bg03.jpg");
  }
   section.info{
    width: 100%;
    height:800px;
    border-bottom:2px solid black;
   }
  
   div.section-bgimage{
    width: 100%;
    height: 800px;
    opacity: 0.5;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
   }
    div#section-text{

   margin-top:-400px;
   margin-left: 50%;
   }
    div#section-text p{
   font-size: 72px;
   font-color:black; 
   }
   div#section-text b{
   font-size:84px;
   color:green; 
   font-weight: bold;
   }
  .hover:hover{
    	opacity:.5;
  }
  .well{
	background-color: #999;
  }
  .well p{
  padding-top: 30px;
  padding-bottom: 30px;
  }

    footer {
      padding: 25px;
      background-color:#222;
      color: white;
      font-family: regular;
    }
  

    .menu-image img{
      padding:10px;
  }
   .menu-image p{
    font-size:18px;
    padding-bottom: 10px;
  }
   .menu-image h3{
    font-size:24px;
    font-weight: bold;
    padding-bottom: 10px;
   }
   div#menu b{
      color: green;
      font-size: 72px;
   }
    .menu-image{
    display: block;
    text-align:center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    
   }
   .menu-image:hover{
    opacity: .7;
    /*box-shadow: 5px 10px 20px #aaa;*/
    border:2px solid #222;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    line-height: 1;
   }



#contact p{
  font-size:24px;
  padding: 20px;
}
#about p{font-size:28px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* NAVBAR CSS */
    .class-navbar a{
      color: grey;
      font-size:18px;
      display: inline-block;
      padding-right:1%;
      font-family: Romande ADF Script Std;
    }
    .class-navbar a:hover{
      color: black;
      font-size:18px;
      display: inline-block;
      padding-right: 1%;
    }
   .class-navbar a.icon{
      display: none;
    }
     b{ font-size:36px;
      }
    .class-navbar a#logo{
          display: inline-block;
          margin-left:-4%;
          padding-left: 2%;
          padding-right: 5%;
        }     
  @media (max-width: 767px) {
      .class-navbar a{
          display: none;
      }
      .class-navbar a#logo{
          display: block inline;
          font-size:24px;
          padding: 10px; 
      }
      .class-navbar a#bar{
          float: right;
          display: block;
          padding: 0px;
          margin-right:20px;
          margin-top:10px;
      }
        b{font-size:28px;
      }
      div.nav-right{
          display: none;
      }

      /*respoonsive*/
      a.icon.responsive{
          display: none;
      }
      .class-navbar.responsive a{
          display:block;
          font-size:24px;
          text-align-last: left;
      }
      .class-navbar.responsive a:hover{
          background-color: orange;
      }
      .class-navbar.responsive  a#bar{
          display:none;
      }
     .class-navbar.responsive  a#cross{
          float: right;
          display: block;
          padding: 0px;
          margin-right:20px;
          margin-top:10px;
    }


}
  @media (max-width: 600px) {
    h1 {
      font-size:48px;
    }
    /* menu list CSS*/
    .menu-image{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
   }

  div#menu b{
      color: green;
      font-size: 48px;
   }
   .well{
  background-color: #bbb;
  width: 90%;
  margin-left: 5%
  }
   /*Section CSS*/
   section.info{
    height: 600px;
    border-bottom:2px solid gray; 
   }
  div.section-bgimage{
      width: 100%;
      height: 600px;
      opacity: .5;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
   }
  div#section-text{
       margin-top:-370px;
       margin-left: 50px;
   }
   div#section-text p{
       font-size:48px;
       display: inline;
       font-weight: bold;
     }
   div#info1{
     height: 600px;
  }
   div#info2{
      height: 600px;
    }
   div#info3{
      height: 600px;
   }

   /*Footer CSS*/
   footer {
      padding: 25px;
      background-color:#222;
      color: white;
    }
    
  }