
ul{
    /* background-color: blue; */
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    font-size: 3vh;
}
 ul li{
    float:right;
    display: inline-block;
    /* margin: 1vh 2vh; */
    padding: 1vh 3vh;
}
ul li.icon{
    border-radius: 5px;
    text-decoration: none; 
    color: #111; 
    background: #39ff14; 
    box-shadow: 0 0 50px #39ff14; 
    display:none;
    float: rigth;
    margin-right: 0px;
}

@media(max-width:600px){
   
            ul li.icon#bar{
                
                display:block;
                float:right;
                
            }
            ul li.icon#cross{
                
                display: none;
                float: right;
            }
            ul li.icon.responsive#bar{
                
                display: none;
            }

            ul li.icon.responsive#cross{
                
                display:block;
            }
            ul li.menu.responsive{
                  background-color: red;
                display:block;
                float:right;
            }
             /* styling the button*/
        
    
        /*creating animation effect*/
        a{ 
            border-radius: 5px;
            text-decoration: none; 
            color: #111; 
            background: #39ff14; 
            box-shadow: 0 0 50px #39ff14; 
        } 
        
        ul li.menu{
            display: none;
        }  


        
}